
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/main.css">

<div class="container mt-5">
    <div class="row">
        <p id="test">Hi there</p>
    </div>
</div>
  <div class="jumbotron text-center">
	<div class="page-header">
    <h1>My Teams </h1>    
  </div>
  </div>
  <div class="form-group">
	<div class="row">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-3">
			# Teams
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="numberOfTeams">
		</div>
		<div class="col-sm-3">
			
		</div>
   	</div>
  </div>

<div class="row">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-3">
			Time
		</div>
		<div class="col-sm-3">
			 <input type="datetime-local" name="starttime">
		</div>
		<div class="col-sm-3">
			 <input type="datetime-local" name="endtime">
		</div>
   	</div>

<br><br><br>

	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4 text-center">
			<button id="predict" type="button" class="btn btn-outline-primary">Generate Schedule</button>
			 <div id="result"></div>
		</div>
		<div class="col-sm-4">
		</div>
		
   	</div>
<<<<<<< HEAD
<script src="/static/js/main.js"></script>
=======


<div class="container mt-5">
    <div class="row">
      Hi there
      <button id="predict" type="button" class="btn btn-outline-primary">Predict</button>
      <div id="result"></div>

      <button id="add" type="button" class="btn btn-outline-primary">Add Dates</button>
      <button id="find" type="button" class="btn btn-outline-primary">Find Games</button>
    </div>
</div>

<script src="/static/js/main.js"></script>
>>>>>>> 3ab369d7a63aa623fdd8b2fe29743737aab4be51
