
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/main.css">


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link href="static/css/bootstrap-form-helpers.css" rel="stylesheet" media="screen">

<div class="container mt-5">
    <div class="row">
    	How did your game go?
        <div class="form-group">
        	<label for="gameid">Which game?</label>
	    	<input class="form-control" id="gameid" placeholder="1">
		    <label for="injurytype">Add Injury</label>
		    <select class="form-control" id="injurytype">
		      <option>Heat</option>
		      <option>Sprain</option>
		    </select>
	        <div class='col-sm-6'>
	            <div class="bfh-timepicker">
	        </div>
		</div>               
    </div>
</div>
</div>
<script src="/static/js/ref.js"></script>
<script src="/static/js/bootstrap-formhelpers.js"></script>
